<div class="backdrop is-hidden" data-modal="1">
  <div class="order-modal">
    <button class="order-modal-close" type="button" data-close-modal>
      <svg class="order-modal-close-icon" width="23" height="23">
        <use href="/img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>

    <h2 class="order-form-title"><span>BUY</span> NOW</h2>

    <div class="order-modal-container">
      <form class="order-modal-form">
        <ul class="order-list list">
          <li class="order-item">
            <label class="order-label">
            <input type="radio" class="order-radio-button visually-hidden" name="order-mass" value="100">
            <div class="order-thumb">
              <div class="order-wrapper">
                <picture>
                  <source srcset="
                      /img/order/buy-tab.jpg    1x,
                      /img/order/buy-tab@2x.jpg 2x
                    " media="(min-width: 768px)" />
                  <source srcset="
                      /img/order/buy-mob.jpg    1x,
                      /img/order/buy-mob@2x.jpg 2x
                    " media="(min-width: 375px)" />
                  <img src="/img/order/buy-mob.jpg" alt="pieces of chocolate" loading="lazy" />
                </picture>
              </div>
              <button class="button order-btn" type="button">100 g</button>
            </div>
          </label>
          </li>
          <li class="order-item">
            <label class="order-label">
            <input type="radio" class="order-radio-button visually-hidden" name="order-mass" value="200">
            <div class="order-thumb">
              <div class="order-wrapper">
                <picture>
                  <source srcset="
                      /img/order/buy2-tab.jpg    1x,
                      /img/order/buy2-tab@2x.jpg 2x
                    " media="(min-width: 768px)" />
                  <source srcset="
                      /img/order/buy2-mob.jpg    1x,
                      /img/order/buy2-mob@2x.jpg 2x
                    " media="(min-width: 375px)" />
                  <img src="/img/order/buy2-mob.jpg" alt="pieces of chocolate" loading="lazy" />
                </picture>
              </div>
              <button class="button order-btn" type="button">200 g</button>
            </div>
          </label>
          </li>
          <li class="order-item">
            <label class="order-label">
            <input type="radio" class="order-radio-button visually-hidden" name="order-mass" value="300">
            <div class="order-thumb">
              <div class="order-wrapper">
                <picture>
                  <source srcset="
                      /img/order/buy3-tab.jpg    1x,
                      /img/order/buy3-tab@2x.jpg 2x
                    " media="(min-width: 768px)" />
                  <source srcset="
                      /img/order/buy3-mob.jpg    1x,
                      /img/order/buy3-mob@2x.jpg 2x
                    " media="(min-width: 375px)" />
                  <img src="/img/order/buy3-mob.jpg" loading="lazy" alt="pieces of chocolate" />
                </picture>
              </div>
              <button class="button order-btn" type="button">300 g</button>
            </div>
            </label>
          </li>
        </ul>

        <div class="order-form-group">
          <label for="username" class="order-form-username order-form-label">
            <span>Personal information</span>
          </label>
          <label for="surname" class="order-form-surname order-form-label">
          </label>
          <div class="order-form-control order-contacts-form">
            <input id="username" type="text" name="username" class="order-form-input" placeholder="Name" required
              maxlength="29" minlength="3" />
            <input id="surname" type="text" name="surname" class="order-form-input" placeholder="Surname" required
              maxlength="29" minlength="3" />
          </div>
        </div>

        <div class="order-form-group">
          <label for="email" class="order-email order-form-label">
            <span>Email</span>
          </label>
          <div class="order-form-control">
            <input id="email" type="email" name="email" class="order-form-input" placeholder="Enter your email"
              pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}" required maxlength="29" />
          </div>
        </div>

        <div class="order-form-group">
          <label for="phone" class="order-phone order-form-label">
            <span>Phone number</span>
          </label>
          <div class="order-form-control">
            <input id="phone" type="tel" name="phone" class="order-form-input modal-order-tel"
              pattern="[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}" placeholder="Phone number" required maxlength="9" />
            <span class="modal-order-icon-position">
              <svg class="modal-order-tel-icon" width="24" height="18">
                <use href="/img/sprite.svg#icon-flag"></use>
              </svg>
              +380
            </span>
          </div>
        </div>

        <div class="order-form-group">
          <label for="card" class="order-card order-form-label list">
            <span>Card number</span>
          </label>
          <div class="order-form-control order-card-form">
            <input id="card" type="number" name="card" class="order-form-input" placeholder="Enter card" />
            <svg class="form-icon" width="32px" height="18px">
              <use href="/img/sprite.svg#icon-mastercard"></use>
            </svg>
          </div>
        </div>

        <div class="order-form-group">
          <label for="order-comment" class="order-textarea-comment order-form-label">
            <span>Comment</span>
          </label>
          <textarea name="comment" rows="5" placeholder="Enter text" class="order-form-textarea order-form-input"
            id="order-comment"></textarea>
        </div>
        <button type="submit" class="submit-button">Submit</button>
      </form>
    </div>
  </div>
</div>