<footer class="footer-section" id="footer">
    <div class="container">
        <div class="footer-content">
            <b class="footer-text"><span class="footer-accent-text">Chocolate</span> a delicious cure for a bad
                day</b>
            <div class="footer-contact-container">
                <address class="footer-contact">
                    <b class="footer-contact-text">Contact us</b>
                    <ul class="footer-contact-list">
                        <li class="footer-contact-item"><a href="tel:+380684439426" class="footer-contact-link">+380
                                (68)
                                443-94-26</a></li>
                        <li><a href="mailto:simplychoc@gmail.com" class="footer-contact-link">simplychoc@gmail.com</a>
                        </li>
                    </ul>
                </address>
                <ul class="footer-social-media-list">
                    <li><a href="https://www.instagram.com/" class="footer-social-media-link" target="_blank"
                            rel=”noopener noreferrer” aria-label="Instagram"><svg class="footer-icon">
                                <use href="/img/sprite.svg#icon-instagram"></use>
                            </svg></a></li>
                    <li><a href="https://twitter.com/" class="footer-social-media-link" target="_blank" rel=”noopener
                            noreferrer” aria-label="Twitter"><svg class="footer-icon">
                                <use href="/img/sprite.svg#icon-twitter"></use>
                            </svg></a></li>
                </ul>
            </div>
        </div>
        <ul class="footer-navigation-list">
            <li class="footer-navigation-item"><a href="#home" class="footer-navigation-link">Home</a></li>
            <li class="footer-navigation-item"><a href="#how-its-made" class="footer-navigation-link">How it&#8217;s
                    made?</a></li>
            <li class="footer-navigation-item"><a href="#products" class="footer-navigation-link">Our products</a>
            </li>
            <li class="footer-navigation-item"><a href="#sellers" class="footer-navigation-link">Top sellers</a>
            </li>
            <li class="footer-navigation-item"><a href="#chocolate-is-loved" class="footer-navigation-link">Chocolate is
                    loved</a></li>
        </ul>
    </div>
</footer>