<header class="header">
  <div class="container header-nav">
    <nav class="nav">
      <a href="./index.html" class="nav-link logo"><span class="italic-logo">SIMPLY</span>&#160;CHOCOLATE
        <svg class="icon-logo">
          <use href="./img/sprite.svg#icon-logo-chocolate"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" id="home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#how-its-made" class="nav-link">How it’s made?</a>
        </li>
        <li class="nav-item">
          <a href="#products" id="Our-products" class="nav-link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#sellers" id="top-sellers" class="nav-link">Top sellers</a>
        </li>
        <li class="nav-item">
          <a href="#chocolate-is-loved" id="Chocolate-is-loved" class="nav-link">Chocolate is loved</a>
        </li>
      </ul>

      <button type="button" class="mobile-menu-open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="mobile-menu-open_icon">
          <use href="./img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </nav>
    <address class="address">
      <ul class="nav-list-social">
        <li>
          <a href="https://www.instagram.com/" class="nav-link" target="_blank" rel="noopener" noreferrer”>
            <svg class="icon-social">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" class="nav-link" target="_blank" rel="noopener" noreferrer”>
            <svg class="icon-social">
              <use href="./img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-menu-container">
    <button class="menu-toggle js-close-menu">
      <svg class="icon-x-close">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li><a href="./index.html" class="link-mobile">Home</a></li>
      <li><a href="#how-its-made" class="link-mobile">How it's made?</a></li>
      <li><a href="#products" class="link-mobile">Our products</a></li>
      <li><a href="#sellers" class="link-mobile">Top sellers</a></li>
      <li>
        <a href="#chocolate-is-loved" class="link-mobile">Chocolate is loved</a>
      </li>
    </ul>

    <ul class="menu-list-social">
      <li>
        <a href="https://www.instagram.com/" class="nav-link-mobile-menu" target="_blank">
          <svg class="icon-social white">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com" class="nav-link-mobile-menu" target="_blank">
          <svg class="icon-social white">
            <use href="./img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>