<section class="hero">
    <div class="container hero-container">
        <h1 class="hero-title visually-hidden">Hero</h1>
        <h2 class="hero-desc">Treat yourself or a loved one
            to our finest ingredients for a moment of pure delight!</h2>
        <div class="button-hero-cont">
            <div class="hero-buttons">
                <button type="button" data-modal-open class="hero-button-buynow">Buy now</button>
                <button type="button" data-modal-open class="hero-button-howitsmade">How it's made</button>
            </div>
            <div class="scroll-down-cont">
                <p class="scroll-down">scroll down</p>
                <svg class="icon-scroll-down" id="icon-scroll-down" width="16" height="16">
                    <use href="../img/sprite.svg#icon-scroll-down"></use>
                </svg>
            </div>
        </div>
    </div>

</section>