<section id="how-its-made" class="how-made">
  <div class="container">
    <h2 class="how-made-header">
      How it’s <span class="how-made-header-orange">made?</span>
    </h2>
    <div class="how-made-container-main">

      <div class="how-made-container-first">
        <picture>
          <source srcset="./img/how-made-tab.jpg 1x, ./img/how-made-tab@2x.jpg 2x" media="(min-width: 768px)" />
          <source srcset="./img/how-made-desk.jpg 1x, ./img/how-made-desk@2x.jpg 2x" media="(min-width: 1200px)" />
          <img class="how-made-picture" srcset="./img/how-made-mob.jpg 1x, ./img/how-made-mob@2x.jpg 2x"
            src="./img/how-made-mob.jpg" alt="Chocolate" loading="lazy" />
        </picture>
        <svg class="how-made-icon-play" width="35" height="35">
          <use href="./img/sprite.svg#icon-how-made-play"></use>
        </svg>
      </div>

      <div class="how-made-container-second">
        <p class="how-made-list-header">
          Try our chocolates today and discover the perfect balance of flavor
        </p>

        <ul class="how-made-list">
          <li class="how-made-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-made-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-made-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-made-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-made-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>