<div class="backdrop is-hidden" data-modal="2">
    <div class="modal">
        <button type="button" class="modal-close popup_review" data-close-modal>
            <svg class="modal-close--icon" width="28" height="28">
                <use href="../img/sprite.svg#icon-x-close"></use>
            </svg>
        </button>
        <h3 class="modal-title">
            leave a review about<br />
            <span class="modal-title--part">our chocolate</span>
        </h3>
        <form class="modal-form">
            <input class="modal-input" type="name" placeholder="Name" pattern="/^[a-z ,.'-]+$/i" />
            <input class="modal-input" type="email" placeholder="Email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" />
            <div class="phone-wrap">
                <div class="phone-country">
                    <div class="flag"></div>
                    <p class="country-choise">+380</p>
                </div>
                <input class="phone-input" type="phone" placeholder="Phone number" required
                    pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" />
            </div>
            <textarea class="modal-textarea" placeholder="Enter text"></textarea>
            <button type="submit" class="modal-submit popup_review" data-close-modal>
                Send
            </button>
        </form>
    </div>
</div>