<section class="section__our-products ">
  <div class="our-products__container container">
    <h2 class="our-products__title">
      OUR <span class="second-part__title">PRODUCTS</span>
    </h2>
    <div class="our-products__block">
      <ul class="our-products__list swiper-wrapper list">
        <li class="our-products__item swiper-slide">
          <img srcset="
                  ./img/products/products.jpg    1x,
                  ./img/products/products@2x.jpg 2x
                " src="./img/products/products.jpg" alt="products" class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">ORANGE</h3>
            <p class="our-products__type">Dark chocolate</p>
            <button class="our-products__price">45 UAH</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srcset="
                  ./img/products/products2.jpg    1x,
                  ./img/products/products2@2x.jpg 2x
                " src="./img/products/products2.jpg" alt="products2" class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name 1">APPLE&CRANBERRY</h3>
            <p class="our-products__type">Milk chocolate</p>
            <button class="our-products__price">50 UAH</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srcset="
                  ./img/products/products3.jpg    1x,
                  ./img/products/products3@2x.jpg 2x
                " src="./img/products/products3.jpg" alt="products3" class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name 2">LIME&SEA SALT</h3>
            <p class="our-products__type">Dark chocolate</p>
            <button class="our-products__price">66 UAH</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srcset="
                ./img/products/products4.jpg    1x,
                ./img/products/products4@2x.jpg 2x
              " src="./img/products/products4.jpg" alt="products4" class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">PINEAPPLE</h3>
            <p class="our-products__type">Dark chocolate</p>
            <button class="our-products__price">54 UAH</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srcset="
                ./img/products/products5.jpg    1x,
                ./img/products/products5@2x.jpg 2x
              " src="./img/products/products5.jpg" alt="products5" class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">CLASSIC</h3>
            <p class="our-products__type">Milk chocolate</p>
            <button class="our-products__price">45 UAH</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srcset="
                ./img/products/products6.jpg    1x,
                ./img/products/products6@2x.jpg 2x
              " src="./img/products/products6.jpg" alt="products6" class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">HONEY</h3>
            <p class="our-products__type">Milk chocolate</p>
            <button class="our-products__price">50 UAH</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srcset="
                  ./img/products/products7.jpg    1x,
                  ./img/products/products7@2x.jpg 2x
                " src="./img/products/products7.jpg" alt="products7" class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name 3">ROASTED FRUITS</h3>
            <p class="our-products__type">Dark chocolate</p>
            <button class="our-products__price">66 UAH</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srcset="
                  ./img/products/products8.jpg    1x,
                  ./img/products/products8@2x.jpg 2x
                " class="our-products__item-image" src="./img/products/products8.jpg" alt="products8"
            class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">CLASSIC</h3>
            <p class="our-products__type">White chocolate</p>
            <button class="our-products__price">54 UAH</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="our-products__swiper-pagination"></div>

  </div>
</section>