<section id="chocolate-is-loved" class="section__reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title"><span>chocolate</span> is loved</h2>
    <div class="reviews__block">

      <div class="reviews__list swiper-wrapper">

        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review1.png 1x, /img/review/review1@2x.png 2x" src="/img/review/review1.png"
            alt="Reviewer avatar" class="reviews__item-image" width="80" />
          <h3 class="reviews__item-title">Victoria Dobrzhanska</h3>
          <p class="reviews__item-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review2.png 1x, /img/review/review2@2x.png 2x" src="/img/review/review2.png"
            alt="Reviewer avatar" class="reviews__item-image" width="80" />
          <h3 class="reviews__item-title">Nazar Babenko</h3>
          <p class="reviews__item-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review3.png 1x, /img/review/review3@2x.png 2x" src="/img/review/review3.png"
            alt="Reviewer avatar" class="reviews__item-image" width="80" />
          <h3 class="reviews__item-title">Olena Kampusch</h3>
          <p class="reviews__item-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review4.png 1x, /img/review/review4@2x.png 2x" src="/img/review/review4.png"
            alt="Reviewer avatar" class="reviews__item-image" width="80" />
          <h3 class="reviews__item-title">Natalia Sus</h3>
          <p class="reviews__item-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review5.png 1x, /img/review/review5@2x.png 2x" src="/img/review/review5.png"
            alt="Reviewer avatar" class="reviews__item-image" width="80" />
          <h3 class="reviews__item-title">Danilo Nottingham</h3>
          <p class="reviews__item-text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review6.png 1x, /img/review/review6@2x.png 2x" src="/img/review/review6.png"
            alt="Reviewer avatar" class="reviews__item-image" width="80" />
          <h3 class="reviews__item-title">Irina Tydnyuk</h3>
          <p class="reviews__item-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </div>
      </div>
    </div>
    <div class="reviews__swiper-pagination"></div>
    <button type="button" class="reviews-button" data-open-modal="2">
      Leave a review
    </button>
  </div>
</section>