<section class="subscribe">
  <div class="container">
    <h2 class="header-subs">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="description">From the velvety texture to the rich and complex flavor, our New Chocolate is a true
      indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the
      utmost care, each piece is a work of art that is sure to please.</p>
    <button class="subscribe-button" data-open-modal="3" type="button">Subscribe</button>
  </div>


  <div class="backdrop is-hidden" data-modal="3">
    <div class="exp-modal-wrap">
      <div class="modal-top">
        <button class="modal-close" data-close-modal type="button">

          <svg class="close-icon" width="12" height="12">
            <use href="./img/sprite.svg#icon-x-close"></use>
          </svg>
        </button>
      </div>

      <div class="mod-main-block">


        <p class="exp-title">Explore our <br> <span class="span-exp">new chocolate</span> first!</p>
        <form>
          <div class="form-group">
            <label for="email" class="form-label"></label>
            <input type="email" id="email-submit" name="email" class="form-input" placeholder="Enter your email" />

            <button type="submit" class="button submit-btn">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>