<section class="top-sellers-section" id="top-sellers">
  <div class="container">
    <h2 class="top-sellers-title">
      <span class="top-sellers-title-span">top </span>Sellers
    </h2>
    <div class="top-sallers-wrapper">
      <ul class="top-sellers-list">
        <li>
          <picture>
            <source
              srcset="
                ../img/top-sellers/top-sellers-desk.jpg    1x,
                ../img/top-sellers/top-sellers-desk@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/top-sellers/top-sellers-tab-1.jpg 1x,
                ../img/top-sellers/top-sellers-tab.jpg   2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ../img/top-sellers/top-sellers-mob.jpg    1x,
                ../img/top-sellers/top-sellers-mob@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />

            <img
              class="top-sellers-img"
              src="../img/top-sellers/top-sellers-mob.jpg"
              alt="chocolate and coffee"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../img/top-sellers/top-sellers2-desk.jpg    1x,
                ../img/top-sellers/top-sellers2-desk@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/top-sellers/top-sellers2-tab.jpg    1x,
                ../img/top-sellers/top-sellers2-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ../img/top-sellers/top-sellers-mob2.jpg    1x,
                ../img/top-sellers/top-sellers-mob2@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />

            <img
              class="top-sellers-img"
              src="../img/top-sellers/top-sellers-mob2.jpg"
              alt="chocolate bars "
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../img/top-sellers/top-sellers3-desk.jpg    1x,
                ../img/top-sellers/top-sellers3-desk@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="top-sellers-img"
              src="../img/top-sellers/top-sellers3-desk.jpg"
              alt="chocolate and candy"
            />
          </picture>
        </li>
      </ul>
      <div class="top-sellers-add-content">
        <p class="top-sellers-description">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button type="button" class="top-sellers-button" data-modal-open>
          Buy now
        </button>
      </div>
    </div>
  </div>
</section>
