<section class="unique-components">
    <div class="unique-components-container">
        <h2 class="unique-components-heading">IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION</h2>
        <p class="unique-components-desc">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
        <ul class="componenets-list">
            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                      <div class="component-flip-card-front">
                        <picture>
                            <img src="/img/ingridients"/>
                        </picture>
                        <p>MILK CHOCOLATE</p>
                      </div>
                      <div class="component-flip-card-back">
                        <p class="component-flip-card-back-heading"></p>
                        <div class="component-flip-card-back-buttons">
                            <button class="component-flip-card-back-button"></button>
                            <button class="component-flip-card-back-button"></button>
                        </div>
                        <p class="component-flip-card-back-description"></p>
                      </div>
                    </div>
                </div>
            </li>
            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                      <div class="component-flip-card-front">
                        <picture>
                            <img src="/img/ingridients"/>
                        </picture>
                        <p>MILK</p>
                      </div>
                      <div class="component-flip-card-back">
                        <p class="component-flip-card-back-heading"></p>
                        <div class="component-flip-card-back-buttons">
                            <button class="component-flip-card-back-button"></button>
                            <button class="component-flip-card-back-button"></button>
                        </div>
                        <p class="component-flip-card-back-description"></p>
                      </div>
                    </div>
                </div>
            </li>
            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                      <div class="component-flip-card-front">
                        <picture>
                            <img src="/img/ingridients"/>
                        </picture>
                        <p>NUTS</p>
                      </div>
                      <div class="component-flip-card-back">
                        <p class="component-flip-card-back-heading"></p>
                        <div class="component-flip-card-back-buttons">
                            <button class="component-flip-card-back-button"></button>
                            <button class="component-flip-card-back-button"></button>
                        </div>
                        <p class="component-flip-card-back-description"></p>
                      </div>
                    </div>
                </div>
            </li>
            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                      <div class="component-flip-card-front">
                        <picture>
                            <img src="/img/ingridients"/>
                        </picture>
                        <p>SEMI-SWEET CHOCOLATE</p>
                      </div>
                      <div class="component-flip-card-back">
                        <p class="component-flip-card-back-heading"></p>
                        <div class="component-flip-card-back-buttons">
                            <button class="component-flip-card-back-button"></button>
                            <button class="component-flip-card-back-button"></button>
                        </div>
                        <p class="component-flip-card-back-description"></p>
                      </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>