  /* --primary-bg-color: #e2e2e2; */
  /* --secondary-bg-color: #1e1823;
  --primary-font-color: #111111;
  --secondary-font-color: #ffffff;
  --advantages-font-color: rgba(255, 255, 255, 0.7);
  --accent-color: #fd9222;
  --descr-font-kolor: rgba(17, 17, 17, 0.7);

  --bg-color-dots: rgba(17, 17, 17, 0.1);
  --fill-close-button: rgba(241, 101, 41, 1),
  rgba(212, 69, 40, 1); */
  /* --input-font-color: rgba(64, 64, 64, 0.3); */

  /* --timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

  .footer-section {
      background-color: var(--secondary-bg-color);
      color: var(--secondary-font-color);

  }

  .footer-section .container {
      margin-right: auto;
      margin-left: auto;
      padding: 32px 20px;
  }

  .footer-content {
      margin-bottom: 32px;
      padding-bottom: 32px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .footer-text {
      display: block;
      margin: 0;
      margin-bottom: 32px;
      max-width: 300px;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: -0.02em;
  }

  .footer-accent-text {
      color: var(--accent-color);
  }

  .footer-contact-container {
      display: flex;
      justify-content: space-between;
  }

  .footer-contact {
      font-style: normal;
  }

  .footer-contact-text {
      display: block;
      margin-bottom: 14px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.29;
  }

  .footer-contact-list {
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: -0.02em;
  }

  .footer-contact-item {
      margin-bottom: 4px;
  }

  .footer-contact-link {
      transition: color 250ms var(--timing-function);
  }

  .footer-social-media-list {
      display: flex;
      gap: 14px;
  }

  .footer-social-media-link {
      transition: color 250ms var(--timing-function);
  }

  .footer-icon {
      width: 22px;
      height: 22px;
      fill: currentColor;
  }

  .footer-navigation-item {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: -0.02em;
  }

  .footer-navigation-link {
      transition: color 250ms var(--timing-function);
  }

  .footer-social-media-link:hover,
  .footer-social-media-link:focus,
  .footer-contact-link:hover,
  .footer-contact-link:focus,
  .footer-navigation-link:hover,
  .footer-navigation-link:focus {
      color: var(--accent-color);
  }

  /* ------------------------Media----------------------------- */

  @media screen and (min-width: 375px) {
      .footer-section .container {
          max-width: 335px;
      }
  }

  @media screen and (max-width: 767px) {
      .footer-navigation-item:not(:last-child) {
          margin-bottom: 18px;
      }
  }

  @media screen and (min-width: 768px) {
      .footer-section .container {
          padding: 50px 32px;
          max-width: 704px;
      }

      .footer-content {
          display: flex;
          justify-content: space-between;
      }

      .footer-text {
          font-size: 28px;
          line-height: 1.21;
      }

      .footer-content {
          padding-bottom: 50px;
          margin-bottom: 24px;
      }

      .footer-contact-container {
          gap: 50px;
      }

      .footer-social-media-list {
          gap: 18px;
      }

      .footer-navigation-list {
          display: flex;
          gap: 24px;
      }
  }

  @media screen and (min-width: 1200px) {
      .footer-section .container {
          max-width: 1136px;
      }

      .footer-content {
          padding-bottom: 58px;
          margin-bottom: 24px;
      }
  }