/* 
- mobile: верстка гумова, стає адаптивною на 375px;
- tablet: 768px;
- desktop: 1200px

*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0px;
  background-color: var(--primary-bg-color);
  /* overflow-x: hidden; */
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
   max-width: 375px;
   padding: 0 20px;
   margin: 0 auto;
}
@media screen and (max-width: 767px) {

  .nav-link {
    font-family: 'Montserrat';
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #111111;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.logo {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: -0.03em;
    color: #111111;
  }
  .italic-logo {
    font-style: italic;
  }

  .icon-logo {
    width: 21px;
    height: 21px;
    margin-left: 4px;
  }
  .nav-list,
  .nav-list-social {
    display: none;
  }
  .mobile-menu-open {
    min-height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  .mobile-menu-open_icon {
    width: 28px;
    height: 28px;
  }
  .icon-social.white {
    width: 22px;
    height: 22px;
    fill: #ffffff;
    transition: fill 250ms ease-in-out;
  }
  .icon-social.white:hover,
  .icon-social.white:focus {
    fill: #fd9222;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 744px;
  }
  .nav-list,
  .nav-list-social {
    display: none;
  }
  .mobile-menu-open_icon {
    width: 32px;
    height: 32px;
  }
  .icon-social.white {
    width: 24px;
    height: 24px;
    fill: #ffffff;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-link {
    font-family: 'Montserrat';
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #111111;
  }
  .nav-link.logo {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: -0.03em;
    color: #111111;
  }
  .italic-logo {
    font-style: italic;
  }
  .icon-logo {
    width: 21px;
    height: 21px;
    margin-left: 4px;
  }
  .mobile-menu-open {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-link {
    font-family: 'Montserrat';
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #111111;
  }
  .nav-link.logo {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: -0.03em;
    align-items: center;
    color: #111111;
  }
  .italic-logo {
    font-style: italic;
  }
  .icon-logo {
    width: 21px;
    height: 21px;
    margin-left: 4px;
  }
  .mobile-menu-open {
    min-height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1176px;
  }
  .nav {
    display: flex;
    justify-content: flex-start;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }
  .nav-link.logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    align-items: center;
    color: #111111;
  }
  .italic-logo {
    font-style: italic;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    list-style: none;

    margin-left: 188px;
    padding: 0;
  }
  .address {
    margin-left: auto;
  }
  .nav-list-social {
    display: flex;
    align-items: center;

    gap: 18px;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .icon-logo {
    width: 24px;
    height: 24px;
    margin-left: 4px;
  }
  .icon-social {
    width: 24px;
    height: 24px;
    transition: fill 250ms var(--timing-function);
  }
  .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #111111;
    transition: color 250ms var(--timing-function);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #fd9222;
  }
  .icon-social:hover,
  .icon-social:focus {
    fill: #fd9222;
  }
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu-container {
    position: fixed;
    /* display: flex; */
    height: 100%;
    top: 0;
    right: 0;

    min-width: 220px;

    background-color: #1e1823;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .mobile-menu-container {
    /* position: relative; */
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 136px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mobile-menu {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .nav-link-mobile-menu {
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-container {
    min-width: 290px;
  }

  .mobile-menu-container {
    padding-left: 85px;
    padding-right: 20px;
    padding-top: 156px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: background-color 250ms var(--timing-function);
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: #fcf1e0;
}

.icon-x-close {
  fill: #fff;
  width: 28px;
  height: 28px;
  transition: fill 250ms var(--timing-function);
}
.icon-x-close:hover,
.icon-x-close:focus {
  fill: var(--accent-color);
}
.link-mobile {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mobile:hover,
.link-mobile:focus {
  color: var(--accent-color);
}
.menu-list-social {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: fill 250ms var(--timing-function);
}
.icon-social.white:hover,
.icon-social.white:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-list-social {
    left: 34px;
    bottom: 24px;
  }
}
