@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1136px;

    border-radius: 30px;
    padding: 381px 25px 40px 25px;
    margin: 8px auto 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-desc {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--secondary-font-color);
    display: block;
    text-align: left;
    margin: 0px auto 32px 0px;
    max-width: 484px;
  }

  .hero-button-buynow {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 144px;
    border: 0;
    border-radius: 100px;
    order: 0;
    flex-grow: 0;
    color: var(--secondary-font-color);
    background-color: var(--accent-color);
    display: block;
    padding: 14px 40px;
    margin: 0px;
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function);
  }
  .hero-button-howitsmade {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.04em;

    display: block;
    padding: 14px 40px;
    margin: 0px;
    cursor: pointer;
    min-width: 230px;
    order: 0;
    flex-grow: 0;

    color: var(--secondary-font-color);
    background-color: transparent;
    border: 1px solid var(--secondary-font-color);
    border-radius: 100px;
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function),
      border-color 250ms var(--timing-function);
  }
  .hero-button-buynow:hover,
  .hero-button-buynow:focus {
    background-color: #fcf1e0;
    color: var(--accent-color);
  }
  .hero-button-howitsmade:hover,
  .hero-button-howitsmade:focus {
    background-color: var(--secondary-font-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  .button-hero-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .hero-buttons {
    display: flex;
    gap: 14px;
  }

  .scroll-down-cont {
    display: flex;
    gap: 14px;
    align-items: center;
    height: 38px;
    margin: 0px;
  }
  .scroll-down {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    display: block;
    padding: 0px;
    margin: 0px;
    color: var(--secondary-font-color);
    position: relative;
  }
  /* .scroll-down::after {
    content: '';
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--secondary-font-color);
    top: 0px;
    right: 0px;
    position: absolute;
    transform: matrix(0, 1, 1, 0, 0, 0);
  } */
  .scroll-down-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary-font-color);
    cursor: pointer;
    transition: background-color 250ms var(--timing-function);
  }
  .scroll-down-button:hover,
  .scroll-down-button:focus {
    background-color: var(--accent-color);
  }
  .icon-scroll-down {
    fill: currentColor;
    transition: rotate 250ms var(--timing-function);
  }

  .scroll-down-button > .icon-scroll-down:hover,
  .scroll-down-button > .icon-scroll-down:focus {
    fill: var(--secondary-font-color);
    transform: rotate(-90deg);
  }
}

/*                                               tablet                               */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    border-radius: 30px;
    padding: 671px 40px 40px 40px;
    margin: 0px auto 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-desc {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--secondary-font-color);
    display: block;
    text-align: left;
    margin: 0px auto 32px 0px;
    max-width: 484px;
  }

  .hero-button-buynow {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 144px;
    border: 0;
    border-radius: 100px;
    order: 0;
    flex-grow: 0;
    color: var(--secondary-font-color);
    background-color: var(--accent-color);
    display: block;
    padding: 14px 40px;
    margin: 0px;
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function);
  }
  .hero-button-howitsmade {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.04em;

    display: block;
    padding: 14px 40px;
    margin: 0px;
    cursor: pointer;
    min-width: 230px;
    order: 0;
    flex-grow: 0;
    color: var(--secondary-font-color);
    background-color: transparent;
    border: 1px solid var(--secondary-font-color);
    border-radius: 100px;
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function),
      border-color 250ms var(--timing-function);
  }
  .hero-button-buynow:hover,
  .hero-button-buynow:focus {
    background-color: #fcf1e0;
    color: var(--accent-color);
  }
  .hero-button-howitsmade:hover,
  .hero-button-howitsmade:focus {
    background-color: var(--secondary-font-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  .button-hero-cont {
    display: flex;
    justify-content: space-between;
    margin: 0px;
  }
  .hero-buttons {
    display: flex;
    gap: 14px;
  }

  .scroll-down-cont {
    display: block;
    margin: 0px;
  }
  .scroll-down {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    display: block;
    padding: 0px;
    margin: 0px;
    color: var(--secondary-font-color);
    position: relative;
  }
  .scroll-down::after {
    content: '';
    width: 38px;
    height: 38px;
    border-radius: 50%;

    color: var(--secondary-font-color);
    top: 10px;
    right: 20px;
    position: absolute;
    transform: matrix(0, 1, 1, 0, 0, 0);
  }
  .icon-scroll-down {
    fill: var(--accent-color);
    transform: rotate(-90deg);
  }
}

/*                                               MOBILE                               */

@media screen and (min-width: 375px) and (max-width: 767px) {
  .hero {
    max-width: 375px;
    border-radius: 30px;
    padding: 395px 20px 20px 20px;
    margin: 0px auto 71px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--secondary-font-color);
    display: block;
    text-align: left;
    margin: 0px auto 32px 0px;
    max-width: 299px;
  }

  .hero-button-buynow {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 120px;
    border: 0;
    border-radius: 100px;
    order: 0;
    flex-grow: 0;
    color: var(--secondary-font-color);
    background-color: var(--accent-color);
    display: block;
    padding: 12px 28px;
    margin: 0px;
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function);
  }
  .hero-button-howitsmade {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.04em;

    display: block;
    padding: 12px 28px;
    margin: 0px;
    cursor: pointer;
    min-width: 161px;
    order: 0;
    flex-grow: 0;
    color: var(--secondary-font-color);
    background-color: transparent;
    border: 1px solid var(--secondary-font-color);
    border-radius: 100px;
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function),
      border-color 250ms var(--timing-function);
  }
  .hero-button-buynow:hover,
  .hero-button-buynow:focus {
    background-color: #fcf1e0;
    color: var(--accent-color);
  }
  .hero-button-howitsmade:hover,
  .hero-button-howitsmade:focus {
    background-color: var(--secondary-font-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  .button-hero-cont {
    display: flex;
    justify-content: flex-start;
    gap: 32px 14px;
    flex-wrap: wrap;
    margin: 0px;
  }
  .hero-buttons {
    display: flex;
    gap: 12px;
  }

  .scroll-down-cont {
    display: block;
    margin: 0px;
  }
  .scroll-down {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    display: block;
    padding: 0px;
    margin: 0px;
    color: var(--secondary-font-color);
    position: relative;
  }
  .scroll-down::after {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;

    color: var(--secondary-font-color);
    top: 10px;
    right: 20px;
    position: absolute;
    transform: matrix(0, 1, 1, 0, 0, 0);
  }
  .icon-scroll-down {
    width: 16px;
    height: 16px;
  }
  .icon-scroll-down {
    fill: var(--accent-color);
    transform: rotate(-90deg);
  }
}

@media screen and (min-device-pixel-ratio: 1) and (max-width: 428px),
  screen and (max-width: 428px) and (min-resolution: 96dpi),
  screen and (max-width: 428px) and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-mobile.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 428px),
  screen and (max-width: 428px) and (min-resolution: 192dpi),
  screen and (max-width: 428px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-mobile@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 429px) and (max-width: 767px),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 96dpi),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-tablet.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 429px) and (max-width: 767px),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-tablet@2x.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
  screen and (min-width: 768px) and (min-resolution: 96dpi),
  screen and (min-width: 768px) and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-desktop.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-desktop@2x.jpg');
  }
}
