.hero {
  width: 100%;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-bg-color);
  color: var(--secondary-font-color);
}
.hero-desc {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--secondary-font-color);
  display: block;
  text-align: left;
  margin-bottom: 32px;
  max-width: 290px;
}
.hero-button-buynow {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;
  cursor: pointer;
  width: 144px;
  height: 45px;
  border-radius: 100px;
  order: 0;
  flex-grow: 0;
  color: var(--secondary-font-color);
  background-color: var(--accent-color);
  border: none;
  display: block;
  padding: 14px 40px;
  margin: 0px;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}
.hero-button-howitsmade {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;
  display: block;
  padding: 14px 39px;
  margin: 0px;
  cursor: pointer;
  width: 183px;
  height: 45px;
  order: 0;
  flex-grow: 0;
  color: var(--secondary-font-color);
  background-color: transparent;
  border: 1px solid var(--secondary-font-color);
  border-radius: 100px;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.hero-button-buynow:hover,
.hero-button-buynow:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}
.hero-button-howitsmade:hover,
.hero-button-howitsmade:focus {
  background-color: var(--secondary-font-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.button-hero-cont {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0px;
}
.hero-buttons {
  display: flex;
  gap: 14px;
}
.scroll-down-cont {
  display: flex;
  gap: 14px;
  align-items: center;
  height: 38px;
  margin: 0px;
}
.scroll-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  display: block;
  padding: 0px;
  margin: 0px;
  color: var(--secondary-font-color);
}
.scroll-down-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary-font-color);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.scroll-down-button:hover,
.scroll-down-button:focus {
  background-color: var(--accent-color);
}
.icon-scroll-down {
  fill: var(--accent-color);
  transition: transform 250ms var(--timing-function);
}
.scroll-down-button > .icon-scroll-down:hover,
.scroll-down-button > .icon-scroll-down:focus {
  fill: var(--secondary-font-color);
  transform: rotate(-90deg);
}

/*                                               MOBILE                                     */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .hero {
    width: 335px;
    padding: 395px 20px 20px 20px;
    margin: 0px auto 71px;
  }
  .hero-desc {
    font-size: 20px;
    max-width: 290px;
  }
  .hero-button-buynow {
    width: 120px;
    height: 41px;
    padding: 12px 26px;
  }
  .hero-button-howitsmade {
    width: 159px;
    height: 41px;
    padding: 12px 23px;
  }

  .button-hero-cont {
    justify-content: flex-start;
    gap: 32px 14px;
    flex-wrap: wrap;
  }
  .hero-buttons {
    gap: 12px;
  }

  .scroll-down {
    font-size: 12px;
    line-height: 1.17;
  }
  .scroll-down-button {
    width: 28px;
    height: 28px;
  }
}
/*                                               tablet                               */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    width: 704px;
    padding: 671px 40px 40px 40px;
    margin: 0px auto 50px;
  }

  .hero-desc {
    max-width: 484px;
  }
}
/*                                   DESKTOP                                      */
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1136px;
    padding: 381px 40px 40px 40px;
    margin: 8px auto 72px;
  }
  .hero-desc {
    max-width: 484px;
  }
}
/*                                               320-374px                                     */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero {
    width: 280px;
    padding: 395px 15px 10px 15px;
    margin: 0px auto 71px;
    overflow: auto;
  }
  .hero-desc {
    font-size: 18px;
    max-width: 260px;
  }

  .hero-button-buynow {
    width: 120px;
    height: 41px;
    padding: 12px 26px;
  }
  .hero-button-howitsmade {
    width: 159px;
    height: 41px;
    padding: 12px 23px;
  }

  .button-hero-cont {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 14px;
  }
  .hero-buttons {
    flex-wrap: wrap;
  }
  .scroll-down {
    font-size: 12px;
    line-height: 1.17;
  }
  .scroll-down-button {
    width: 28px;
    height: 28px;
  }
}
@media screen and (min-device-pixel-ratio: 1) and (max-width: 767px),
  screen and (max-width: 767px) and (min-resolution: 96dpi),
  screen and (max-width: 767px) and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-mobile.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-mobile@2x.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 1) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-width: 429px) and (max-width: 1199px) and (min-resolution: 96dpi),
  screen and (min-width: 429px) and (max-width: 1199px) and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-tablet.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-tablet@2x.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 1) and (min-width: 1200px),
  screen and (min-width: 1200px) and (min-resolution: 96dpi),
  screen and (min-width: 1200px) and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-desktop.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/bg-image/bg-hero-desktop@2x.jpg');
  }
}
