*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

:root {
	--primary-bg-color: #E2E2E2;
    --secondary-bg-color: #1E1823;
	--card-bg-color: #ffffff;
	--primary-font-color: #111111;
	--secondary-font-color: #FFFFF;
    --advantages-font-color:rgba(255, 255, 255, 0.7);
	--accent-color: #FD9222;
    --descr-font-kolor: rgba(17, 17, 17, 0.7);
    --price-bg-color:#FAFAFA;
    --bg-color-dots: rgba(17, 17, 17, 0.1);
    --fill-close-button:rgba(241, 101, 41, 1), rgba(212, 69, 40, 1);
	--input-font-color:rgba(64, 64, 64, 0.3);


	

   
--timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: var(--primary-font-color);
	background-color: var(--primary-bg-color);
}

 .section.our-products{
	
	padding-top: 72px;
	padding-bottom: 72px;
	
}

@media screen and (min-width:768px){
	.section.our-products{
	
		padding-top: 100px;
		padding-bottom: 100px;
		
	}
}
@media screen and (min-width:1200px){
	.section.our-products{
	
		padding-top: 128px;
		padding-bottom: 128px;
		
	}
}

.container .our-products {
	
	margin: 0 auto;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	max-width: calc(335px + (20px *2));
}

@media screen and (min-width: 768px) {
	.container .our-products  {
	padding-right: 32px;
	padding-left: 32px;
	max-width: calc(704px + (32px *2));
}
}

@media screen and (min-width: 1200px) {
	.container .our-products  {
	max-width: calc(1136px + (32px *2));
}
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}




.our-products__title{
	font-weight: 600;
font-size: 24px;
line-height: calc(28/24);
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--primary-font-color);
margin-bottom:50px ;
}

.second-part__title{
color: var(--accent-color);
}



.our-products__descr{
   justify-content: center;
   text-align: center;
   align-items: center;
   
}
.our-products__name{
	font-weight: 600;
	font-size: 18px;
	line-height: calc(24/18);
	
	
	letter-spacing: -0.02em;
	text-transform: uppercase;
	
	color: var(--primary-font-color);
	margin-bottom: 2px;
}

	

.our-products__name{
	font-weight: 600;
	font-size: 18px;
	line-height: calc(24/18);
	
	
	letter-spacing: -0.02em;
	text-transform: uppercase;
	
	color: var(--primary-font-color);
	margin-bottom: 2px;
}
	

.our-products__type{
	font-weight: 400;
font-size: 12px;
line-height: calc(14/12);


letter-spacing: -0.02em;

color: var(--descr-font-kolor);
margin-bottom: 18px;
}

.our-products__price{
font-weight: 600;
font-size: 14px;
line-height: calc(17/14);
color: var(--primary-font-color);

width: 94px;
height: 33px;
background: var(--price-bg-color);
border: 1px solid var(--bg-color-dots);
border-radius: 100px;
}

.slider__item {
	width: 270px;
	background: var(--card-bg-color);
	border: 1px solid var(--bg-color-dots);
	border-radius: 15px;
justify-content: center;

}


.slick-slider{
	min-width: 0;
}

.slick-list {
	overflow: hidden;
	margin-bottom: 50px;
}

.slick-track{
	display: flex;
	align-items: center;
	
	gap: 50px;
	
	
}

@media (min-width:767px){
	.slick-track{
		
		gap: 18px;
		
	}
}

.slider {
	position: relative;
	padding: 0px 50px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 18px;
	}
}



.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 13px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 13px;
	height: 13px;
	background: var(--bg-color-dots);

	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background: var(--accent-color);
	border-radius: 100px;
width: 28px;
height: 13px;
}

.slider__item {
	padding: 32px 20px;
	max-width: 270px;	
	max-height: 364px;
}

.slider__item img{
	max-width: 100%;
	margin-bottom: 8px;
}


