/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-bg-color: #e2e2e2;
  --secondary-bg-color: #1e1823;
  --primary-font-color: #111111;
  --secondary-font-color: #ffffff;
  --advantages-font-color: rgba(255, 255, 255, 0.7);
  --accent-color: #fd9222;
  --descr-font-kolor: rgba(17, 17, 17, 0.7);

  --bg-color-dots: rgba(17, 17, 17, 0.1);
  --fill-close-button: rgba(241, 101, 41, 1), rgba(212, 69, 40, 1);
  --input-font-color: rgba(64, 64, 64, 0.3);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}
.section {
  padding-top: 72px;
  padding-bottom: 72px;
}
