.unique-components-container {
  min-width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unique-components-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--primary-font-color);
  width: 283px;
  margin-bottom: 24px;
}

.unique-components-heading > span {
  color: var(--accent-color);
}

.unique-components-desc {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;

  color: var(--primary-font-color);
  margin-bottom: 32px;
}

.components-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.components-list-item {
  border-radius: 15px;
  min-width: 335px;
  width: 100%;
  height: 270px;
}
.components-list-item:nth-child(2n) .component-flip-card-front {
  padding: 27px;
  border: 1px solid var(--accent-color);
}
.component-flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.component-flip-card:hover .component-flip-card-inner {
  transform: rotateY(180deg);
}

.component-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.component-flip-card-front,
.component-flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.component-flip-card-front {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 28px;
  background: var(--secondary-font-color);
}
.components-list-item:nth-child(1) .component-flip-card-front {
  color: var(--secondary-font-color);
  background: var(--accent-color);
}
.components-list-item:nth-child(3) .component-flip-card-front {
  color: var(--secondary-font-color);
  background: var(--secondary-bg-color);
}
.component-flip-card-front > picture {
  margin: 0 auto 25px;
  width: 224px;
}

.component-flip-card-front > picture > img {
  margin: 0;
  width: 100%;
  height: 100%;
}

.component-flip-card-front > p {
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* Style the back side */
.component-flip-card-back {
  width: 100%;
  height: 100%;
  padding: 28px;
  overflow: hidden;

  background-color: var(--secondary-font-color);
  transform: rotateY(180deg);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.component-flip-card-back-description {
  overflow: scroll;
}

.component-flip-card-back-heading {
  line-height: 22px;
  margin-bottom: 8px;
}

.component-flip-card-back-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 14px;
}

.component-flip-card-back-button {
  padding: 5px 15px;
  border-radius: 35px;
  font-size: 10px;
  line-height: 1.2;
  color: var(--secondary-font-color);
  background: var(--accent-color);
  transition: background 0.3s var(--timing-function),
    color 0.3s var(--timing-function);
}
.component-flip-card-back-button:nth-child(1):hover,
.component-flip-card-back-button:nth-child(1):focus {
  background: #fcf1e0;
  color: var(--accent-color);
}
.component-flip-card-back-button:nth-child(2):hover,
.component-flip-card-back-button:nth-child(2):focus {
  background: var(--accent-color);
  color: var(--secondary-font-color);
}

.component-flip-card-back-button:nth-child(2) {
  border: 1px solid var(--accent-color);
  background: var(--secondary-font-color);
  color: var(--primary-font-color);
}

.component-flip-card-back-description {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-font-color);
}
@media screen and (min-width: 376px) and (max-width: 767.98px) {
  .component-flip-card-front > p {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .unique-components .unique-components-container {
    max-width: 768px;
  }
  .unique-components-heading {
    font-size: 24px;
    line-height: 1.17;
    width: 411px;
    margin-bottom: 28px;
  }

  .unique-components-desc {
    width: 486px;
    margin-bottom: 50px;
  }

  .components-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .components-list-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .components-list-item:nth-child(1) {
    order: 1;
  }
  .components-list-item:nth-child(2) {
    order: 3;
  }
  .components-list-item:nth-child(3) {
    order: 4;
  }
  .components-list-item:nth-child(4) {
    order: 2;
  }
}
@media screen and (min-width: 1200px) {
  .unique-components .unique-components-container {
    max-width: 1200px;
    margin-bottom: 128px;
  }
  .components-list {
    justify-content: space-between;
    gap: 18.5px;
  }
  .components-list-item {
    min-width: 270px;
    flex-basis: calc((100% - 57px) / 4);
  }
  .unique-components-heading {
    margin-bottom: 28px;
  }

  .unique-components-desc {
    margin-bottom: 50px;
  }
  .component-flip-card-front > picture {
    width: 206px;
    margin-bottom: 36px;
  }
}
